/*  */
.tryckner {
	margin-top: 10%;
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

#dropdown {

	display: block;
    padding: 3px 8px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;

}

/* Inspiration Page */
.inspoInfo h2 {
	text-align: center;
}


/* Tipsinfo Page */
.tips h2 {
	text-align: center;
}


/* Aboutgoat Page */
.goat h2 {
	text-align: center;
}

/* Aboutpoint Page */
.point h2 {
	text-align: center;

/* dropdown meny in create todolist */
#dropdown {
    
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;

}





