<!-- Footer -->
<footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4 col-sm-12">
                        <h3>About</h3>
                        <p>POINTGAME, is the way for you to make your life more organized and to get more time for other things that you want to do...</p>
                    </div>
                    <div class="footer-col col-md-4 col-sm-12">
                        <h3>FOLLOW US ON</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/pointgame/"><img src="templates/img/icons/facebook.png" class="img-responsive" alt=""></a>
                            </li>                        
                            <li>
                                <a href="https://www.instagram.com/pointgame0/"><img src="templates/img/icons/instagram.png" class="img-responsive" alt=""></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/Pointgame0"><img src="templates/img/icons/twitter.png" class="img-responsive" alt=""></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4 col-sm-12 page-scroll">
                        <h3 id="footerContact">Contact</h3>
                        <p>If you have any questions, just press the button below and we'll answer you as fast as we can! :) 
                        </p> 
                        <a href="mailto:pointgame2016@outlook.com"><img src="templates/img/icons/mail.png"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; POINTGAME 2015
                    </div>
                </div>
            </div>
        </div>
</footer>