<!-- Premium Success -->
<div href="?/User/premiumsuccess" id="about">
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Congratulations, you are now a Premium member!</h3>
                        <hr class="star-primary">
                        <h4><img src="templates/img/portfolio/arrow.png">
                        <a href="?/todolist/all">Continue to login</a></h4>
                </div>  
            </div>
        </div>
    </section>
</div>