
        <div class="container">
               <div class="row">
                <div class=" col-xs-5 col-xs-offset-3 ">
                  
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-6 col-xs-offset-3 floating-label-form-group controls">
                             <h4> {{donelistitem.task}} :
                              {{donelistitem.score}} </h4>
                              
                              
                             
                            </div>
                              
                          
                        </div>
                  
                                         
                       
                    
                    </form>
                </div>
            </div>
        </div>

