<!-- Tips -->
<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TIPS!</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="templates/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="templates/css/freelancer.css" rel="stylesheet">
     <!-- Own styling -->
    <link href="templates/css/style.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="templates/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="tips">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 id='studies'>STUDIES</h2>
                            <hr class="star-primary">
                            <img src="templates/img/portfolio/bookklar.png" class="img-responsive" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at molestie augue, nec faucibus quam. Vestibulum erat tellus, faucibus vel finibus nec, iaculis vitae justo. Phasellus sagittis purus non commodo interdum. Proin vel lacus nec erat blandit bibendum. Vestibulum consectetur sed metus ut semper. Nullam ac ligula a ipsum porta ullamcorper. Sed vitae mattis eros, in elementum justo. Vivamus pulvinar venenatis felis ut convallis. Integer pulvinar bibendum leo sit amet sodales. Sed suscipit nibh quis nibh dignissim imperdiet.</p>
                            <a href="/Pointgame#tips"><img src="templates/img/portfolio/arrow.png"></a>
                            <a href="/Pointgame#tips">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 id='health'>HEALTH</h2>
                            <hr class="star-primary">
                            <img src="templates/img/portfolio/gymklar.png" class="img-responsive" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at molestie augue, nec faucibus quam. Vestibulum erat tellus, faucibus vel finibus nec, iaculis vitae justo. Phasellus sagittis purus non commodo interdum. Proin vel lacus nec erat blandit bibendum. Vestibulum consectetur sed metus ut semper. Nullam ac ligula a ipsum porta ullamcorper. Sed vitae mattis eros, in elementum justo. Vivamus pulvinar venenatis felis ut convallis. Integer pulvinar bibendum leo sit amet sodales. Sed suscipit nibh quis nibh dignissim imperdiet.</p>
                            <a href="/Pointgame#tips"><img src="templates/img/portfolio/arrow.png"></a>
                            <a href="/Pointgame#tips">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 id='economy'>ECONOMY</h2>
                            <hr class="star-primary">
                            <img src="templates/img/portfolio/dollarklar.png" class="img-responsive" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at molestie augue, nec faucibus quam. Vestibulum erat tellus, faucibus vel finibus nec, iaculis vitae justo. Phasellus sagittis purus non commodo interdum. Proin vel lacus nec erat blandit bibendum. Vestibulum consectetur sed metus ut semper. Nullam ac ligula a ipsum porta ullamcorper. Sed vitae mattis eros, in elementum justo. Vivamus pulvinar venenatis felis ut convallis. Integer pulvinar bibendum leo sit amet sodales. Sed suscipit nibh quis nibh dignissim imperdiet.</p>
                            <a href="/Pointgame#tips"><img src="templates/img/portfolio/arrow.png"></a>
                            <a href="/Pointgame#tips">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 id='cleaning'>CLEANING</h2>
                            <hr class="star-primary">
                            <img src="templates/img/portfolio/cleanklar.png" class="img-responsive" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at molestie augue, nec faucibus quam. Vestibulum erat tellus, faucibus vel finibus nec, iaculis vitae justo. Phasellus sagittis purus non commodo interdum. Proin vel lacus nec erat blandit bibendum. Vestibulum consectetur sed metus ut semper. Nullam ac ligula a ipsum porta ullamcorper. Sed vitae mattis eros, in elementum justo. Vivamus pulvinar venenatis felis ut convallis. Integer pulvinar bibendum leo sit amet sodales. Sed suscipit nibh quis nibh dignissim imperdiet.</p>
                            <a href="/Pointgame#tips"><img src="templates/img/portfolio/arrow.png"></a>
                            <a href="/Pointgame#tips">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 id='cooking'>COOKING</h2>
                            <hr class="star-primary">
                            <img src="templates/img/portfolio/matklar.png" class="img-responsive" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at molestie augue, nec faucibus quam. Vestibulum erat tellus, faucibus vel finibus nec, iaculis vitae justo. Phasellus sagittis purus non commodo interdum. Proin vel lacus nec erat blandit bibendum. Vestibulum consectetur sed metus ut semper. Nullam ac ligula a ipsum porta ullamcorper. Sed vitae mattis eros, in elementum justo. Vivamus pulvinar venenatis felis ut convallis. Integer pulvinar bibendum leo sit amet sodales. Sed suscipit nibh quis nibh dignissim imperdiet.</p>
                            <a href="/Pointgame#tips"><img src="templates/img/portfolio/arrow.png"></a>
                            <a href="/Pointgame#tips">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 id='washing'>WASHING CLOTHES</h2>
                            <hr class="star-primary">
                            <img src="templates/img/portfolio/washingklar.png" class="img-responsive" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at molestie augue, nec faucibus quam. Vestibulum erat tellus, faucibus vel finibus nec, iaculis vitae justo. Phasellus sagittis purus non commodo interdum. Proin vel lacus nec erat blandit bibendum. Vestibulum consectetur sed metus ut semper. Nullam ac ligula a ipsum porta ullamcorper. Sed vitae mattis eros, in elementum justo. Vivamus pulvinar venenatis felis ut convallis. Integer pulvinar bibendum leo sit amet sodales. Sed suscipit nibh quis nibh dignissim imperdiet.</p>
                            <a href="/Pointgame#tips"><img src="templates/img/portfolio/arrow.png"></a>
                            <a href="/Pointgame#tips">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>